<h1>Lists#index</h1>
<ul>
  <% @lists.each do |list| %>
    <%= link_to list_path(list) do %>
      <li><%= list.name %> </li>
    <% end %>
  <% end %>
</ul>
<%= link_to "Make a list", new_list_path, class: "btn btn-warning" %>
