
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Lists <strong>all the lists</strong>  that <strong>you create</strong>!</h1>

      <a <%= link_to "Make a list", new_list_path, class: "btn btn-warning"%>></a>
    <%# <a class="btn btn-flat" href="#">Apply now</a> %>
  </div>
</div>
<ul>
  <% @lists.each do |list| %>
    <%= link_to list_path(list) do %>
      <li><%= list.name %> </li>
    <% end %>
  <% end %>
</ul>
